.navbar {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-right: 5rem;
  padding-left: 5rem;
  top: 0;
  border-bottom: 1px solid #686868;
  background-color: #222;
}

.text {
  width: 35%;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
}

.footer {
  width: 100%;
  padding: 1rem;
  font-size: 0.7rem;
  background-color: #222;
  color: #fff;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}

.socials {
  display: flex;
  flex-direction: row;
}

.social {
  width: 3rem;
}

.nav-logo {
  width: 12rem;
}

.logo-background {
  width: 12rem;
  height: 4rem;
  background: linear-gradient(20deg, #111111, #2d4069);
  border-radius: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
}
