@import url(https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Open+Sans&display=swap);

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

* {
  overscroll-behavior: none;
  box-sizing: border-box;
  margin: 0;
  font-family: Inter, sans-serif;
  font-family: Open Sans, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(20deg, #111111, #302f31);
  color: #ffffff;
  transition: all 0.5s linear;
  #light-logo {
    display: none;
  }
}

.App-light {
  background: linear-gradient(20deg, #ffffff, #5dc4ff);
  color: #302f31;
  transition: all 0.5s linear;
  min-height: 100vh;

  #logo {
    display: none;
  }
}

.main {
  width: 100%;
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.box {
  width: 80%;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 10rem;
}

.startup-box {
  width: 90%;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 10rem;
}

.box-mobile,
.startup-box-mobile,
.support-box-mobile {
  display: none;
}

.support-box {
  width: 80%;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 10rem;
}

.horizontal-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
  gap: 3rem;
}

.horizontal-content-small {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}

.vertical-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.headshot-content {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.logo {
  width: 30rem;
}

.large-logo {
  width: 20rem;
}

.emoji {
  width: 2rem;
  margin: 0;
  padding: 0;
}

.emoji-2 {
  width: 1.5rem;
  margin: 0;
  padding: 0;
}

.emoji-container {
  height: 2rem;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  background-color: #111111;
  padding: 0.5rem;
  border-radius: 60rem;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in;
}

.emoji-container:hover {
  background-color: #e0e0e0;
  color: #111111;
  cursor: pointer;
}

#light .emoji-container {
  height: 2rem;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  background-color: #302f31;
  color: #fff;
  padding: 0.5rem;
  border-radius: 60rem;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in;
}

#light .emoji-container:hover {
  background-color: #e0e0e0;
  color: #302f31;
  font-weight: bold;
  cursor: pointer;
}

.headshot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.headshots {
  width: 20rem;
}

.faq {
  border: 2px solid #686868;
  border-radius: 0.5rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.privacy {
  border: 2px solid #686868;
  border-radius: 0.5rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

#startup-box {
  border: 2px solid #5dc4ff;
}

#light #startup-box {
  border: 2px solid #d5892a;
}

.span {
  color: #5dc4ff;
  font-family: Inter, sans-serif;
}

#light .span {
  color: #099400;
  font-family: Inter, sans-serif;
}

.span-link {
  text-decoration: underline;
  transition: all 0.3s ease-in;
}

.span-link:hover {
  color: #ffa3d4;
}

.h1 {
  font-size: 3rem;
  font-family: Inter, sans-serif;
}

.h1-sub {
  font-size: 1.5rem;
  font-family: Inter, sans-serif;
}

.h2 {
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  width: 75%;
}

.h3 {
  font-size: 1rem;
}

.h4 {
  font-family: Inter, sans-serif;
}

.h5 {
  font-family: Inter, sans-serif;
  font-size: 0.8rem;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 3.5rem;
  height: 3.5rem;
  margin: 1rem;
  transition: all 0.2s linear;
}

.icon:hover {
  transform: scale(1.1);
}

#support:hover {
  background: #ffa3d4;
}

#light #support:hover {
  background: #ffa3d4;
  color: #302f31;
}

#android:hover {
  color: #32de84;
}

#android-container:hover {
  background-color: #32de84;
  color: #fff;
}

#light #andriod-container:hover {
  background-color: #32de84;
  color: #fff;
}

#apple:hover {
  color: #b3b3b3;
}

#apple-container:hover {
  background-color: #b3b3b3;
  color: #fff;
}

#light #apple:hover {
  color: #ffffff;
}

#light #apple-container:hover {
  background-color: #b3b3b3;
  color: #302f31;
}

#react:hover {
  color: #61dafb;
}

#react-container:hover {
  background-color: #61dafb;
  color: #fff;
}

#light #react-container:hover {
  background-color: #61dafb;
  color: #fff;
}

#python:hover {
  color: #3e7bac;
}

#python-container:hover {
  background-color: #3e7bac;
  color: #fff;
}

#light #python:hover {
  color: #ffd641;
}

#light #python-container:hover {
  background-color: #ffd641;
  color: #fff;
}

#rust:hover {
  color: #e15b28;
}

#rust-container:hover {
  background-color: #e15b28;
  color: #fff;
}

#light #rust-container:hover {
  background-color: #e15b28;
  color: #fff;
}

#mysql:hover {
  color: #00638e;
}

#mysql-container:hover {
  background-color: #00638e;
  color: #fff;
}

#light #mysql:hover {
  color: #00638e;
}

#light #mysql-container:hover {
  background-color: #00638e;
  color: #fff;
}

#js:hover {
  color: #f0dc4e;
}

#js-container:hover {
  background-color: #f0dc4e;
  color: #fff;
}

#light #js:hover {
  color: #f0dc4e;
}

#light #js-container:hover {
  background-color: #f0dc4e;
  color: #fff;
}

#ts:hover {
  color: #007cd2;
}

#ts-container:hover {
  background-color: #007cd2;
  color: #fff;
}

#light #ts:hover {
  color: #007cd2;
}

#light #ts-container:hover {
  background-color: #007cd2;
  color: #fff;
}

#graphql:hover {
  color: #fa0daf;
}

#graphql-container:hover {
  background-color: #fa0daf;
  color: #fff;
}

#light #graphql:hover {
  color: #fa0daf;
}

#light #graphql-container:hover {
  background-color: #fa0daf;
  color: #fff;
}

#angular:hover {
  color: #c3002f;
}

#angular-container:hover {
  background-color: #c3002f;
  color: #fff;
}

#light #angular:hover {
  color: #dd0031;
}

#light #angular-container:hover {
  background-color: #c3002f;
  color: #fff;
}

#docker:hover {
  color: #3262e5;
}

#docker-container:hover {
  background-color: #3262e5;
  color: #fff;
}

#light #docker-container:hover {
  background-color: #3262e5;
  color: #fff;
}

#solidity:hover {
  color: #464972;
}

#solidity-container:hover {
  background-color: #464972;
  color: #fff;
}

#light #solidity:hover {
  color: #63668d;
}

#light #solidity-container:hover {
  background-color: #464972;
  color: #fff;
}

#vue:hover {
  color: #00bb7f;
}

#light #vue:hover {
  color: #00bb7f;
}

#vue-container:hover {
  background-color: #00bb7f;
  color: #fff;
}

#light #vue-container:hover {
  background-color: #00bb7f;
  color: #fff;
}

#flutter:hover {
  color: #00c8fd;
}

#light #flutter:hover {
  color: #00c8fd;
}

#flutter-container:hover {
  background-color: #00c8fd;
  color: #fff;
}

#light #flutter-container:hover {
  background-color: #00c8fd;
  color: #fff;
}

#laravel:hover {
  color: #ff2d20;
}

#laravel-container:hover {
  background-color: #ff2d20;
  color: #fff;
}

#light #laravel-container:hover {
  background-color: #ff2d20;
  color: #fff;
}

#npm:hover {
  color: #bc423b;
}

#npm-container:hover {
  background-color: #bc423b;
  color: #fff;
}

#light #npm-container:hover {
  background-color: #bc423b;
  color: #fff;
}

#node:hover {
  color: #669c4f;
}

#node-container:hover {
  background-color: #669c4f;
  color: #fff;
}

#light #node-container:hover {
  background-color: #669c4f;
  color: #fff;
}

#dotnet:hover {
  color: #5729dd;
}

#light #dotnet:hover {
  color: #5729dd;
}

#dotnet-container:hover {
  background-color: #5729dd;
  color: #fff;
}

#light #dotnet-container:hover {
  background-color: #5729dd;
  color: #fff;
}

.theme-button {
  width: 10rem;
  border-radius: 0.5rem;
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 10rem;
  margin-left: 10rem;
  background-color: #e0e0e0;
  padding: 0.5rem;
  z-index: 0;
}

#light .theme-button {
  width: 10rem;
  border-radius: 0.5rem;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 10rem;
  margin-left: 10rem;
  background-color: #302f31;
  padding: 0.5rem;
}

#position {
  font-size: 3rem;
  font-family: Inter, sans-serif;
  line-height: 0;
  margin: 0;

  &:nth-of-type(5) {
    color: #5dc4ff;
  }
}

#csuite:hover {
  background-color: #1e4d68;
  color: #ffffff;
}

#light #csuite:hover {
  background-color: #1e4d68;
  color: #ffffff;
}

#senior:hover {
  background-color: #681e1e;
  color: #ffffff;
}

#light #senior:hover {
  background-color: #681e1e;
  color: #ffffff;
}

#midtier:hover {
  background-color: #f4ff5d6f;
  color: #ffffff;
}

#light #midtier:hover {
  background-color: #f4ff5daf;
  color: #302f31;
}

#junior:hover {
  background-color: #1e6827;
  color: #ffffff;
}

#light #junior:hover {
  background-color: #1e6827;
  color: #ffffff;
}

#video {
  border-radius: 1rem;
}

#weird-div {
  margin-right: 20rem;
}

@media (max-width: 767px) {
  .main {
    padding-top: 6rem;
  }

  .theme-button {
    display: none;
  }

  #light .theme-button {
    display: none;
  }

  .box,
  .startup-box,
  .support-box {
    display: none;
  }

  .box-mobile,
  .startup-box-mobile,
  .support-box-mobile {
    display: block;
    width: 90%;
    margin: 1rem;
    margin-bottom: 3rem;
    padding: 1rem;
    border-radius: 0.5rem;
  }

  .startup-box-mobile {
    border-color: #5dc4ff;
  }

  .support-box-mobile {
    border-color: #ffa3d4;
  }

  .h1 {
    font-size: 1.8rem;
    width: 95%;
  }

  .h2 {
    font-size: 1rem;
    width: 90%;
  }

  .h3 {
    width: 90%;
  }

  .h4 {
    font-size: 0.8rem;
  }

  .large-logo {
    width: 15rem;
  }

  .horizontal-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .horizontal-content-small {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .vertical-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
  }

  .emoji {
    width: 2.2rem;
  }

  .link-container {
    min-width: 10rem;
    height: 2.5rem;
    background-color: #302f31;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .emoji-container {
    min-width: 6rem;
    height: 2rem;
    background-color: #000;
    padding: 0.3;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in;
  }

  .headshots {
    width: 15rem;
  }

  .and {
    display: none;
  }

  #video {
    border-radius: 0.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main {
    padding-top: 8rem;
  }

  .theme-button {
    display: none;
  }

  .box,
  .startup-box,
  .support-box {
    display: none;
  }

  .box-mobile,
  .startup-box-mobile,
  .support-box-mobile {
    display: block;
    width: 90%;
    margin: 3rem;
    padding: 1rem;
  }

  .startup-box-mobile {
    border-color: #5dc4ff;
  }

  .support-box-mobile {
    border-color: #ffa3d4;
  }

  .h1 {
    font-size: 2.2rem;
  }

  .h2 {
    font-size: 1.5rem;
  }

  .h3 {
    font-size: 1rem;
    width: 75%;
  }

  .horizontal-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .horizontal-content-small {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .vertical-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
  }

  .emoji {
    width: 2.5rem;
  }

  .emoji-container {
    width: 12rem;
    height: 2.5rem;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in;
  }

  .link-container {
    min-width: 15rem;
    height: 3.5rem;
    font-size: 1.2rem;
    background-color: #302f31;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .and {
    display: none;
  }
}

@media (min-width: 1500px) {
  .h1 {
    font-size: 3rem;
  }

  .h2 {
    font-size: 1.5rem;
  }

  .box {
    width: 80%;
    margin-bottom: 15rem;
  }

  .startup-box {
    width: 90%;
    margin-bottom: 15rem;
  }

  .support-box {
    width: 80%;
    margin-bottom: 15rem;
  }

  .logo {
    width: 40rem;
  }

  .theme-button {
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 10rem;
    margin-left: 12rem;
  }

  #light .theme-button {
    width: 10rem;
    border-radius: 0.5rem;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 10rem;
    margin-left: 12rem;
    background-color: #302f31;
    padding: 0.5rem;
  }

  #weird-div {
    margin-right: 43rem;
  }
}
