@import url("https://fonts.googleapis.com/css2?family=Inter&family=Rubik+Mono+One&display=swap");

* {
  overscroll-behavior: none;
  font-family: "Inter", sans-serif;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    135deg,
    rgba(18, 18, 18) 0%,
    rgb(30, 45, 70) 61%,
    rgba(45, 64, 105) 100%
  );
  font-size: x-large;
  text-align: center;
  margin: 0;
}

/* Styles for the header containing the logo */
.header {
  text-align: center;
}

.content {
  color: #ffffff; /* Text color for the construction icons */
  font-size: 0.8em; /* Adjust the icon size */
  margin: 0;
}

/* Style for the logo */
.bear-logo {
  width: 200px; /* Adjust the width to your preference */
  height: auto; /* Maintain the aspect ratio */
}

.footer-content {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #474747; /* Text color for the footer */
  padding: 10px;
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
  /* Adjust styles for smaller screens here */
  .bear-logo {
    width: 150px; /* Adjust the logo size for mobile */
  }
}
